doctype html
head
  meta(charset='UTF-8')
  title APP MOVIL
.nav
  a(href='/')
    img(src='' alt='')
    | Icono
  a(href='/') NOMBRE
  .menu
    ul
      li
        a(href='nosotros.html') Nosotros
      li
        a(href='servicios.html') Servicios
        ul
          li
            a(href='webs.html') webs y apps
          li
            a(href='chatbot.html') chatbot
          li
            a(href='impulsamos.html') impulsamos tu marca
      li
        a(href='talleres.html') Talleres
      li
        a(href='contacto.html') Contacto
      li
        a(href='/') ES
        | |
        a(href='') EN
// EMPIEZA LA WEB
.p1
  .titulo DESARROLLO DE WEBS Y APPS A MEDIDA
  .subtitulo
    | Desarrollamos sitios web y aplicaciones a medida que te permitan conectar e interactuar con tu cliente aplicando tecnolog&iacute;as que brinden una experiencia intuitiva a tus usuarios.
.contenedor
  .menu
    ul
      li
        a(href='webs.html') WEB CORPORATIVA
      li
        a(href='ecommerce.html') WEB E-COMMERCE
      li
        a(href='inteligente.html') WEB INTELIGENTE
      li
        a(href='webux.html') WEB UX
      li
        a(href='pvirtuales.html') PROBADORES VIRTUALES
      li
        a(href='appmovil.html') APPS MOVIL Y WEB
      li
        a(href='juegosyanimacion.html') JUEGOS Y ANIMACION
  .content
    .contenido
      .texto
        h3 APPS MOVIL Y WEB
        p
          | Desarrollamos aplicaciones web interactivas, asi como aplicaciones moviles (las famosas apps) para los distintos tipos de dispositivos moviles.
        p
        input(type='radio')
        | APLICACION MOVIL
        input(type='radio')
        | APLICACION WEB
        p
          | Te ofrecemos el dise&ntilde;o y desarrollo de una aplicacion web capaz de automatizar tus procesos internos de forma eficiente y de facil integracion con tus sistemas actuales. Asegurando adem&aacute;s la calidad del c&oacute;digo y de la informacion.
        a(href='') LO QUIERO
      .imagen
.trabajemos
  h3 TRABAJEMOS JUNTOS
  h4 Completa el formulario y obten una consultor&iacute;a. &iexcl;Est&aacute;s a un paso del &eacute;xito!
  .formulario
    form(action='')
      input(type='text' placeholder='Nombre y Apellido *')
      input(type='text' placeholder='Celular *')
      input(type='text' placeholder='Email *')
      select
        option(value='') &iquest;Como nos conociste? *
        option(value='google') Google
        option(value='facebook') Facebook
        option(value='instagram') Instagram
        option(value='youtube') Youtube
        option(value='linkedin') Linkedin
      select
        option(value='') &iquest;Que necesitas?
        option(value='web') Webs y apps a la medida
        option(value='chatbot') Chatbot
        option(value='marketing') Marketing
        option(value='otros') otros
      textarea(name='' id='' cols='30' rows='10' placeholder='cuentanos tu idea')
      input(type='submit' value='¡COMENZAR!')
// TERMINA LA WEB
footer
  .oficina
    h3 OFICINA
    h5
      | Calle Gral. Belisario Suarez 518
      | Of.301.Miraflores,Lima-Per&uacute;
    span.telefono-icon (01)277-5569
    span.whatsapp-icon (+51)935310589
  .escribenos
    h3 ESCRIBENOS
    h5 soluciones@morangesoft.com
    h3 S&Iacute;GUENOS EN
    span.facebook-icon
    span.instagram-icon
    span.linkedin-icon
    span.youtube-icon
  .unete
    h3 UNETE AL TEAM
    h5 talento@morangesoft.com
    h4 P&Oacute;LITICAS DE PRIVACIDAD
    h4 P&Oacute;LITICAS DE SOPORTE
    h3 &copy; MORANGESOFT