doctype html
head
  meta(charset='UTF-8')
  title CHATBOT WEB
.nav
  a(href='/')
    img(src='' alt='')
    | Icono
  a(href='/') NOMBRE
  .menu
    ul
      li
        a(href='nosotros.html') Nosotros
      li
        a(href='servicios.html') Servicios
        ul
          li
            a(href='webs.html') webs y apps
          li
            a(href='chatbot.html') chatbot
          li
            a(href='impulsamos.html') impulsamos tu marca
      li
        a(href='talleres.html') Talleres
      li
        a(href='contacto.html') Contacto
      li
        a(href='/') ES
        | |
        a(href='') EN
// EMPIEZA LA WEB
.p1
  .titulo CHATBOT PERSONALIZADO
  .subtitulo
    p
      | Desarrollamos chatbots que automatizan procesos y brindan una mejor atencion al cliente las 24 horas del dia respondiendo preguntas frecuentes.
.contenedor
  .menu
    ul
      li
        a(href='chatbot.html') CHATBOT MESSENGER
      li
        a(href='chatbotweb.html') CHATBOT WEB
  .content
    .contenido
      .texto
        h3 CHATBOT WEB
        p
          | Desarrollamos chatbots que integren sistemas de inteligencia artificial (Natural Lenguage Processing), lo cual genera una mejor conversacion de tus clientes y una mayor conversion.
        p
        h4 BENEFICIOS
        ul
          li Simula una conversacion natural humana.
          li Mejora la atencion del usuario las 24 horas.
          li Almacena datos de tus usuarios para que analices tu target.
          li Puedes integrar audio al chatbot, asi como otros idiomas.
        a(href='') LO QUIERO
      .imagen
.trabajemos
  h3 TRABAJEMOS JUNTOS
  h4 Completa el formulario y obt&eacute;n una consultoria. Est&aacute;s a un paso del exito
  .formulario
    form(action='')
      input(type='text' placeholder='Nombre y Apellido *')
      input(type='text' placeholder='Celular *')
      input(type='text' placeholder='Email *')
      select
        option(value='') Como nos conociste *
        option(value='google') Google
        option(value='facebook') Facebook
        option(value='instagram') Instagram
        option(value='youtube') Youtube
        option(value='linkedin') Linkedin
      select
        option(value='') Que necesitas
        option(value='web') Webs y apps a la medida
        option(value='chatbot') Chatbot
        option(value='marketing') Marketing
        option(value='otros') otros
      textarea(name='' id='' cols='30' rows='10' placeholder='cuentanos tu idea')
      input(type='submit' value='¡COMENZAR!')
// TERMINA LA WEB
footer
  .oficina
    h3 OFICINA
    p
      | Calle Gral. Belisario Suarez 518
      | Of.301.Miraflores,Lima-Peru
    span.telefono-icon (01)277-5569
    span.whatsapp-icon (+51)935310589
  .escribenos
    h3 ESCRIBENOS
    p soluciones@morangesoft.com
    h3 S&Iacute;GUENOS EN
    span.facebook-icon
    span.instagram-icon
    span.linkedin-icon
    span.youtube-icon
  .unete
    h3 UNETE AL TEAM
    h5 talento@morangesoft.com
    h4 POLITICAS DE PRIVACIDAD
    h4 POLITICAS DE SOPORTE
    h3 &copy; MORANGESOFT
