doctype html
head
  meta(charset='UTF-8')
  title CONTACTO
.nav
  a(href='/')
    img(src='' alt='')
    | Icono
  a(href='/') NOMBRE
  .menu
    ul
      li
        a(href='nosotros.html') Nosotros
      li
        a(href='servicios.html') Servicios
        ul
          li
            a(href='webs.html') webs y apps
          li
            a(href='chatbot.html') chatbot
          li
            a(href='impulsamos.html') impulsamos tu marca
      li
        a(href='portafolio.html') Portafolio
      li
        a(href='blog.html') Blog
      li
        a(href='talleres.html') Talleres
      li
        a(href='contacto.html') Contacto
      li
        a(href='/') ES
        | |
        a(href='') EN
// EMPIEZA LA PARTE DE CONTACTO
.contacto-titulo
  .titulo
    p TU EMPRESA ESTA PREPARADA PARA LA TRANSFORMACION DIGITAL
  .subtitulo
    | OBTEN TU ASESORIA GRATUITA
.contenedor-contacto
  .visitanos
    h3 VISITANOS
    p
    span.telf-icon (01) 935310589
    p
    span.whatsapp-icon (+51) 935310589
    p
    span.direc-icon Calle Gral. Belisario Suarez 518 Of. 301. Miraflores, Lima - Peru
    p
    span.mensaje-icon info@morangesoft.com
    h4 SIGUENOS
    span.facebook-icon
    span.instagram-icon
    span.linkedin-icon
    span.youtube-icon
  .trabajemos
    h3 TRABAJEMOS JUNTOS
    h4 Completa el formulario y obten una consultoria. Estas a un paso del exito
    .formulario
      form(action='')
        input(type='text' placeholder='Nombre y Apellido *')
        input(type='text' placeholder='Celular *')
        input(type='text' placeholder='Email *')
        select
          option(value='') Como nos conociste *
          option(value='google') Google
          option(value='facebook') Facebook
          option(value='instagram') Instagram
          option(value='youtube') Youtube
          option(value='linkedin') Linkedin
        select
          option(value='') Que necesitas
          option(value='web') Webs y apps a la medida
          option(value='chatbot') Chatbot
          option(value='marketing') Marketing
          option(value='otros') otros
        textarea(name='' id='' cols='30' rows='10' placeholder='cuentanos tu idea')
        input(type='submit' value='¡COMENZAR!')
.mapa
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.120399440096!2d-76.93862778561709!3d-12.103909246260603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c740a43c698f%3A0x247737801c485953!2sMorangesoft%20-%20Dise%C3%B1o%20de%20P%C3%A1ginas%20Web%20en%20Lima%2C%20Per%C3%BA.%20Cotizaciones%20Gratis%20%F0%9F%9A%80!5e0!3m2!1ses!2spe!4v1587233560292!5m2!1ses!2spe' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
// TERMINA LA PARTE DE CONTACTO
footer
  .oficina
    h3 OFICINA
    p
      | Calle Gral. Belisario Suarez 518
      | Of.301.Miraflores,Lima-Peru
    span.telefono-icon (01)277-5569
    span.whatsapp-icon (+51)935310589
  .escribenos
    h3 ESCRIBENOS
    p soluciones@morangesoft.com
    h3 SiGUENOS EN
    span.facebook-icon
    span.instagram-icon
    span.linkedin-icon
    span.youtube-icon
  .unete
    h3 UNETE AL TEAM
    h5 talento@morangesoft.com
    h4 POLITICAS DE PRIVACIDAD
    h4 POLITICAS DE SOPORTE
    h3 &copy; MORANGESOFT
