doctype html
head
  meta(charset='UTF-8')
  title IMPULSAMOS
.nav
  a(href='/')
    img(src='' alt='')
    | Icono
  a(href='/') NOMBRE
  .menu
    ul
      li
        a(href='nosotros.html') Nosotros
      li
        a(href='servicios.html') Servicios
        ul
          li
            a(href='webs.html') webs y apps
          li
            a(href='chatbot.html') chatbot
          li
            a(href='impulsamos.html') impulsamos tu marca
      li
        a(href='talleres.html') Talleres
      li
        a(href='contacto.html') Contacto
      li
        a(href='/') ES
        | |
        a(href='') EN
// EMPIEZA LA WEB
.p1
  .titulo
    h3 IMPULSAMOS TU MARCA
  .subtitulo
    p
      | Gestionamos tu marca mediante estrategias y campa&ntilde;as de Marketing Digital que conecten, generen recordacion y fidelicen a tus clientes.
.contenedor
  .menu
    ul
      li
        a(href='impulsamos.html') CAMPANAS DE MEDIOS SOCIALES
      li
        a(href='google.html') CAMPANAS DE GOOGLE ADWORDS
      li
        a(href='branding.html') BRANDING CORPORATIVO
  .content
    .contenido
      .texto
        h3 CAMPANAS DE MEDIOS SOCIALES
        p
          | Disenamos una estrategia de social media efectiva en la cual definimos tu target, tus objetivos de marketing y el concepto de la campana para posicionar tu marca.
        p
        h4 CONECTAMOS
        ul
          li Definimos las plataformas: Facebook, LinkedIn, Instagram.
          li Optimizamos el presupuesto de la publicidad digital.
          li Generamos leads y mayor interacci&oacute;n con tus fans.
          li Analizamos las metricas y resultados de la campana.
        a(href='') LO QUIERO
      .imagen
.trabajemos
  h3 TRABAJEMOS JUNTOS
  h4 Completa el formulario y obten una consultoria. Estas a un paso del exito
  .formulario
    form(action='')
      input(type='text' placeholder='Nombre y Apellido *')
      input(type='text' placeholder='Celular *')
      input(type='text' placeholder='Email *')
      select
        option(value='') Como nos conociste *
        option(value='google') Google
        option(value='facebook') Facebook
        option(value='instagram') Instagram
        option(value='youtube') Youtube
        option(value='linkedin') Linkedin
      select
        option(value='') Que necesitas
        option(value='web') Webs y apps a la medida
        option(value='chatbot') Chatbot
        option(value='marketing') Marketing
        option(value='otros') otros
      textarea(name='' id='' cols='30' rows='10' placeholder='cuentanos tu idea')
      input(type='submit' value='¡COMENZAR!')
// TERMINA LA WEB
footer
  .oficina
    h3 OFICINA
    p
      | Calle Gral. Belisario Suarez 518
      | Of.301.Miraflores,Lima-Peru
    span.telefono-icon (01)277-5569
    span.whatsapp-icon (+51)935310589
  .escribenos
    h3 ESCRIBENOS
    p soluciones@morangesoft.com
    h3 SIGUENOS EN
    span.facebook-icon
    span.instagram-icon
    span.linkedin-icon
    span.youtube-icon
  .unete
    h3 UNETE AL TEAM
    h5 talento@morangesoft.com
    h4 POLITICAS DE PRIVACIDAD
    h4 POLITICAS DE SOPORTE
    h3 &copy; MORANGESOFT
