doctype html
head
  meta(charset='UTF-8')
  title Pagina Web
  link(rel='import' href='menu.html')
.nav
  a(href='/')
    img(src='' alt='')
    | Icono
  a(href='/') NOMBRE
  .menu
    ul
      li
        a(href='nosotros.html') Nosotros
      li
        a(href='servicios.html') Servicios
        ul
          li
            a(href='webs.html') webs y apps
          li
            a(href='chatbot.html') chatbot
          li
            a(href='impulsamos.html') impulsamos tu marca
      li
        a(href='portafolio.html') Portafolio
      li
        a(href='blog.html') Blog
      li
        a(href='talleres.html') Talleres
      li
        a(href='contacto.html') Contacto
      li
        a(href='/') ES
        | |
        a(href='') EN
.p1
  .titulo
    h3 DESARROLLAMOS TECNOLOGIAS PARA MARKETING DIGITAL
  .subtitulo
    h4 MIRA NUESTRAS CREACIONES
.c-exito
  h1.t2 TITULO1
  h5.s2 Quieres llegar a mas clientes ,UNETE
  .contenedor
    .contenidocasos
      .texto
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dicta voluptatum qui veniam esse, deleniti ratione nulla commodi minima fugit blanditiis unde eum! A placeat rem et esse ad quia
      .img4
        img(src='' alt='')
    .contenidocasos
      .texto
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dicta voluptatum qui veniam esse, deleniti ratione nulla commodi minima fugit blanditiis unde eum! A placeat rem et esse ad quia
      .img4
        img(src='' alt='')
    .contenidocasos
      .texto
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dicta voluptatum qui veniam esse, deleniti ratione nulla commodi minima fugit blanditiis unde eum! A placeat rem et esse ad quia
      .img4
        img(src='' alt='')
    .contenidocasos
      .texto
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dicta voluptatum qui veniam esse, deleniti ratione nulla commodi minima fugit blanditiis unde eum! A placeat rem et esse ad quia
      .img4
        img(src='' alt='')
  a(href='#') VER PORTAFOLIO
.n-innovaciones
  h1.t2 TITULO2
  h5.s2 Listo para interactuar con nuestras tecnologias Conocelas
  .contenedor-slider
    .img1
      button BOTON1
      h4 TITULO DE IMAGEN1
      h5 DESCIP1
    .img2
      button BOTON1
      h4 TITULO DE IMAGEN1
      h5 DESCIP1
    .img3
      button BOTON1
      h4 TITULO DE IMAGEN1
      h5 DESCIP1
.servicios-destacados
  h1.t2 SERVICIOS DESTACADOS
  h5.s2
    | Nos comprometemos con tu proyecto y lo llevamos a otro nivel aplicando tecnologias innovadoras para tus estrategias de marketing digital.
  .tarjetas
    .t1
      .desc
        ul
          li DESC1
          li DESC2
          li DESC3
          button SABER MAS
      .titulo
        p CHATBOT CON INTELIGENCIA ARTIFICIAL
    .t2
      .desc
        ul
          li DESC1
          li DESC2
          li DESC3
          button SABER MAS
      .titulo
        p DESARROLLO WEB
    .t3
      .desc
        ul
          li DESC1
          li DESC2
          li DESC3
          button SABER MAS
      .titulo
        p IMPULSAMOS TU MARCA
.n-clientes
  h1.t2 NUESTROS CLIENTES NOS RESPALDAN
  .clientes
    .cli
      .cont
        img(src='' alt='')
        h4 Titulo Proyecto
        h5 Nombre
        h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a(href='#') MIRA MI PROYECTO
    .cli
      .cont
        img(src='' alt='')
        h4 Titulo Proyecto
        h5 Nombre
        h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a(href='#') MIRA MI PROYECTO
    .cli
      .cont
        img(src='' alt='')
        h4 Titulo Proyecto
        h5 Nombre
        h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a(href='#') MIRA MI PROYECTO
.trabajemos
  h1.t2 TRABAJEMOS JUNTOS
  h5.s2 Completa el formulario y obten una consultoria. Estas a un paso del exito.
  .formulario
    form(action='')
      input(type='text' placeholder='Nombre y Apellido *')
      input(type='text' placeholder='Celular *')
      input(type='text' placeholder='Email *')
      select
        option(value='') Como nos conociste *
        option(value='google') Google
        option(value='facebook') Facebook
        option(value='instagram') Instagram
        option(value='youtube') Youtube
        option(value='linkedin') Linkedin
      select
        option(value='') &iquest;Qu&eacute; necesitas?
        option(value='web') Webs y apps a la medida
        option(value='chatbot') Chatbot
        option(value='marketing') Marketing
        option(value='otros') otros
      textarea(name='' id='' cols='30' rows='10' placeholder='cuentanos tu idea')
      input(type='submit' value='¡COMENZAR!')
footer
  .oficina
    h3 OFICINA
    p
      | Calle Gral. Belisario Suarez 518
      | Of.301.Miraflores,Lima-Peru
    span.telefono-icon (01)277-5569
    span.whatsapp-icon (+51)935310589
  .escribenos
    h3 ESCRIBENOS
    p soluciones@morangesoft.com
    h3 S&Iacute;GUENOS EN
    span.facebook-icon
    span.instagram-icon
    span.linkedin-icon
    span.youtube-icon
  .unete
    h3 UNETE AL TEAM
    h5 talento@morangesoft.com
    h4 POLITICAS DE PRIVACIDAD
    h4 POLITICAS DE SOPORTE
    h3 &copy; MORANGESOFT
