doctype html
head
  meta(charset='UTF-8')
  title INTELIGENTE
.nav
  a(href='/')
    img(src='' alt='')
    | Icono
  a(href='/') NOMBRE
  .menu
    ul
      li
        a(href='nosotros.html') Nosotros
      li
        a(href='servicios.html') Servicios
        ul
          li
            a(href='webs.html') webs y apps
          li
            a(href='chatbot.html') chatbot
          li
            a(href='impulsamos.html') impulsamos tu marca
      li
        a(href='talleres.html') Talleres
      li
        a(href='contacto.html') Contacto
      li
        a(href='/') ES
        | |
        a(href='') EN
// EMPIEZA LA WEB
.p1
  .titulo
    h3 DESARROLLO DE WEBS Y APPS A MEDIDA
  .subtitulo
    h4
      | Desarrollamos sitios web y aplicaciones a medida que te permitan conectar e interactuar con tu cliente aplicando tecnologias que brinden una experiencia intuitiva a tus usuarios.
.contenedor
  .menu
    ul
      li
        a(href='webs.html') WEB CORPORATIVA
      li
        a(href='ecommerce.html') WEB E-COMMERCE
      li
        a(href='inteligente.html') WEB INTELIGENTE
      li
        a(href='webux.html') WEB UX
      li
        a(href='pvirtuales.html') PROBADORES VIRTUALES
      li
        a(href='appmovil.html') APPS MOVIL Y WEB
      li
        a(href='juegosyanimacion.html') JUEGOS Y ANIMACI&Oacute;N
  .content
    .contenido
      .texto
        h3 WEB INTELIGENTE
        p Desarrollamos la primera Web Inteligente de Sudamerica
        p
        h4 BENEFICIOS
        ul
          li Mejora en gran medida tu posicionamiento SEO.
          li Obtienes un mayor tiempo de permanencia en la web.
          li Muestras informaci&oacute;n de manera inmediata.
          li Te mantiene a la vanguardia y te diferencia de la competencia.
          li Te permite una mejor conexion con tus usuarios.
          li El chatbot atiende las 24 horas y te ayuda a fidelizar a tus clientes.
        a(href='') LO QUIERO
      .imagen
.trabajemos
  h3 TRABAJEMOS JUNTOS
  h4 Completa el formulario y obten una consultoria. Estas a un paso del exito
  .formulario
    form(action='')
      input(type='text' placeholder='Nombre y Apellido *')
      input(type='text' placeholder='Celular *')
      input(type='text' placeholder='Email *')
      select
        option(value='') Como nos conociste *
        option(value='google') Google
        option(value='facebook') Facebook
        option(value='instagram') Instagram
        option(value='youtube') Youtube
        option(value='linkedin') Linkedin
      select
        option(value='') Que necesitas
        option(value='web') Webs y apps a la medida
        option(value='chatbot') Chatbot
        option(value='marketing') Marketing
        option(value='otros') otros
      textarea(name='' id='' cols='30' rows='10' placeholder='cuentanos tu idea')
      input(type='submit' value='¡COMENZAR!')
// TERMINA LA WEB
footer
  .oficina
    h3 OFICINA
    p
      | Calle Gral. Belisario Suarez 518
      | Of.301.Miraflores,Lima-Peru
    span.telefono-icon (01)277-5569
    span.whatsapp-icon (+51)935310589
  .escribenos
    h3 ESCRIBENOS
    p soluciones@morangesoft.com
    h3 S&Iacute;GUENOS EN
    span.facebook-icon
    span.instagram-icon
    span.linkedin-icon
    span.youtube-icon
  .unete
    h3 UNETE AL TEAM
    h5 talento@morangesoft.com
    h4 POLITICAS DE PRIVACIDAD
    h4 POLITICAS DE SOPORTE
    h3 &copy; MORANGESOFT
