doctype html
head
  meta(charset='UTF-8')
  title NOSOTROS
.nav
  a(href='/')
    img(src='' alt='')
    | Icono
  a(href='/') NOMBRE
  .menu
    ul
      li
        a(href='nosotros.html') Nosotros
      li
        a(href='servicios.html') Servicios
        ul
          li
            a(href='webs.html') webs y apps
          li
            a(href='chatbot.html') chatbot
          li
            a(href='impulsamos.html') impulsamos tu marca
      li
        a(href='portafolio.html') Portafolio
      li
        a(href='blog.html') Blog
      li
        a(href='talleres.html') Talleres
      li
        a(href='contacto.html') Contacto
      li
        a(href='/') ES
        | |
        a(href='') EN
// COMPIENZA EL APARTADO DE NOSOTROS
.p1
  .titulo
    h3 NOS APASIONA CREAR TECNOLOGIAS QUE IMPULSEN TU NEGOCIO
  .subtitulo
    h4
      | Somos una consultora que desarrolla TECNOLOGIAS PARA MARKETING DIGITAL y nos mantenemos a la vanguardia. Brindamos lo ultimo en innovacion y creaci&oacute;n de estrategias integrales para darte la mejor experiencia de usuario.
.elegirnos
  h3 &iquest;POR QUE ELEGIRNOS?
  .tipos
    .pe
      h4 ASESORAMOS
      h4
        | Nos comprometemos con tu proyecto y te orientamos de manera estrategica para su crecimiento.
    .pe
      h4 PERSONALIZAMOS
      h4 Cada cliente es unico, tratamos a cada uno con la importancia que se merece.
    .pe
      h4 CONECTAMOS
      h4 Impulsamos tu marca y generamos una verdadera conexion con tu cliente.
    .pe
      h4 INNOVAMOS
      h4
        | Integramos la tecnologia al marketing digital, optimizando nuestros servicios y cumpliendo tus objetivos comerciales de forma interactiva.
.define
  h3 QUE NOS DEFINE
  h4
    b TE ACERCAMOS AL MARKETING DEL FUTURO
  h4
    | Para nosotros, cada proyecto es un desaf&iacute;o y los objetivos de cada uno de nuestros clientes, tambi&eacute;n son los nuestros. Por ello, innovamos y te traemos las &uacute;ltimas tendencias en Tecnologias para Marketing Digital.
  .def
    .caja
      img(src='' alt='')
      h4 COMPROMISO
    .caja
      img(src='' alt='')
      h4 CALIDAD
    .caja
      img(src='' alt='')
      h4 PERSONALIZACIoN
    .caja
      img(src='' alt='')
      h4 RESULTADOS
.describimos
  h3 COMO NOS DESCRIBIMOS
  h5 Ninguno de nosotros es tan bueno como todos nosotros juntos.
  h4 -Ray Kroc
  p
  h4
    | Por eso cada miembro de la familia Prodequa es especialista en su area. Tenemos pasi&oacute;n por lo que hacemos y creemos que el trabajo en equipo es el combustible que permite a la gente com&uacute;n conseguir resultados poco comunes.
.team
  h3 UNETE AL TEAM
  h3 ESTAMOS EN BUSCA DE TALENTOS
  h3.correo info@morangesoft.com
// TERMINA EL APARTADO DE NOSOTROS
footer
  .oficina
    h3 OFICINA
    p
      | Calle Gral. Belisario Suarez 518
      | Of.301.Miraflores,Lima-Peru
    span.telefono-icon (01)277-5569
    span.whatsapp-icon (+51)935310589
  .escribenos
    h3 ESCRIBENOS
    | &#x9;&#x9;&#x9;soluciones@morangesoft.com
    h3 SIGUENOS EN
    span.facebook-icon
    span.instagram-icon
    span.linkedin-icon
    span.youtube-icon
  .unete
    h3 UNETE AL TEAM
    h5 talento@morangesoft.com
    h4 POLITICAS DE PRIVACIDAD
    h4 POLITICAS DE SOPORTE
    h3 &copy; MORANGESOFT
