doctype html
head
  meta(charset='UTF-8')
  title TALLERES
.nav
  a(href='/')
    img(src='' alt='')
    | Icono
  a(href='/') NOMBRE
  .menu
    ul
      li
        a(href='nosotros.html') Nosotros
      li
        a(href='servicios.hmtl') Servicios
        ul
          li
            a(href='webs.html') webs y apps
          li
            a(href='chatbot.html') chatbot
          li
            a(href='impulsamos.html') impulsamos tu marca
      li
        a(href='portafolio.html') Portafolio
      li
        a(href='blog.html') Blog
      li
        a(href='talleres.html') Talleres
      li
        a(href='contacto.html') Contacto
      li
        a(href='/') ES
        | |
        a(href='') EN
// EMPIEZA LA PARTE DE TALLERES
.p1
  .titulo
    h3 NOS APASIONA CREAR TECNOLOGIAS QUE IMPULSEN TU NEGOCIO
  .subtitulo
    h4
      | Somos una consultora que desarrolla TECNOLOGIAS PARA MARKETING DIGITAL y nos mantenemos a la vanguardia. Brindamos lo ultimo en innovacion y creacion de estrategias integrales para darte la mejor experiencia de usuario.
.contenido
  .content
    .texto
      h3 MEETUP
      h4 DATA DRIVEN BUSINESS SOLUTIONS
      h5
        span.direc-icon
        | Selina Coworking. Calle Alcanfores 465.
    .imag
  .content
    .imag
    .texto
      h3 USIL
      h4 WORKSHOP MARKETING DEL FUTURO
      h5
        span.direc-icon
        | Sede USIL - La Molina. Av. la Fontana 550
  .content
    .texto
      h3 LIMA INNOVA
      h4 MARKETING DIGITAL
      h5
        span.direc-icon
        | Av. Garcilaso de la Vega 1348 - Piso 3, Cercado de Lima
    .imag
  .content
    .imag
    .texto
      h3 MUNICIPALIDAD DE LIMA
      h4 GERENCIA DE DESARROLLO ECONOMICO
      h5
        span.direc-icon
        | Parque de la muralla
  .content
    .texto
      h3 PUCP
      h4 PAGINAS WEB
      h5
        span.direc-icon
        | Av. Universitaria 1801, San Miguel 15088
    .imag
  .content
    .imag
    .texto
      h3 PUCP
      h4 MARKETING DIGITAL
      h5
        span.direc-icon
        | Av. Universitaria 1801, San Miguel 15088
  .content
    .texto
      h3 PUCP
      h4 IDENTIDAD CORPORATIVA
      h5
        span.direc-icon
        | Av. Universitaria 1801, San Miguel 15088
    .imag
  .content
    .imag
    .texto
      h3 LIMA INNOVA
      h4 FULL DAY DE MARKETING
      h5
        span.direc-icon
        | Av. Garcilaso de la Vega 1348 - Piso 3, Cercado de Lima
  .content
    .texto
      h3 PRODEQUA
      h4 APRENDE A REALIZAR PRESENTACIONES DE ALTO IMPACTO
      h5
        span.direc-icon
        | Calle Gral. Belisario Suarez 518 Of. 301 - Miraflores, Lima.
    .imag
  .content
    .imag
    .texto
      h3 ASEP
      h4 ENAMORA A TUS CLIENTES POR LOS MEDIOS DIGITALES
      h5
        span.direc-icon
        | Calle Gral. Belisario Suarez 518 Of. 301 - Miraflores, Lima.
  .content
    .texto
      h3 PRODEQUA
      h4 DISENA PAGINAS WEB QUE VENDAN
      h5
        span.direc-icon
        | &#x9;&#x9;&#x9;&#x9;Calle Gral. Belisario Suarez 518 Of. 301 - Miraflores, Lima.
    .imag
  .content
    .imag
    .texto
      h3 PRODEQUA
      h4 APRENDE A GANAR CONCURSOS EN STARTUP PERU
      h5
        span.direc-icon
        | Calle Gral. Belisario Suarez 518 Of. 301. Miraflores, Lima - Per&uacute;
  .content
    .texto
      h3 LETS TALK ABOUT BUSINESS
      h4 ENAMORA A TUS CLIENTES POR LOS MEDIOS DIGITALES
      h5
        span.direc-icon
        | Pisco Bar: Av. Petit Thouars 5390 - Miraflores
    .imag
  .content
    .imag
    .texto
      h3 PRODEQUA
      h4 ATERRIZA TU IDEA DE NEGOCIO
      h5
        span.direc-icon
        | Calle Gral. Belisario Suarez 518 Of. 301 - Miraflores, Lima.
  .content
    .texto
      h3 ASEP
      h4 &iexcl;HAZTE NOTAR PRESENCIA ONLINE PARA STARTUPS Y PYMES
      h5
        span.direc-icon
        | Calle Choquehuanca 764, San Isidro
    .imag
  .content
    .imag
    .texto
      h3 LAB SAN ISIDRO
      h4 MARKETING DIGITAL PARA STARTUPS
      h5
        span.direc-icon
        | Centro de Encuentro Vecinal Santa Cruz
// Termina la parte de talleres
footer
  .oficina
    h3 OFICINA
    p
      | Calle Gral. Belisario Suarez 518
      | Of.301.Miraflores,Lima-Peru
    span.telefono-icon (01)277-5569
    span.whatsapp-icon (+51)935310589
  .escribenos
    h3 ESCRIBENOS
    p soluciones@morangesoft.com
    h3 SIGUENOS EN
    span.facebook-icon
    span.instagram-icon
    span.linkedin-icon
    span.youtube-icon
  .unete
    h3 UNETE AL TEAM
    h5 talento@morangesoft.com
    h4 POLITICAS DE PRIVACIDAD
    h4 POLITICAS DE SOPORTE
    h3 &copy; MORANGESOFT
